 <div class="sidebar-menu fixed">
    <div class="sidebar-menu-inner">

        <header style="margin-top:20px;" class="header-a-logo" align="center">
            <!-- logo -->
            <div class="logo">
                <a href="~/Home/DashBoard">

                    <img style="width:75px;height:75px;" src="~/content/datatables/images/bbb.png" />


                </a>
            </div>


        </header>


        <ul style="margin-top:30px;" id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li>
                <a href="~/Home/DashBoard">
                    <i class="entypo-home"></i>
                    <span class="title">Bilgi Paneli</span>
                </a>
            </li>
            <li>
                <a href="~/Definition/ReferansList">
                    <i class="entypo-archive"></i>
                    <span class="title">Referanslar</span>
                </a>
            </li>
        </ul>
          
            
         @*    <li class="has-sub">
                <a href="layout-api.html">
                    <i class="entypo-credit-card"></i>
                    <span class="title">Finans Yönetimi</span>
                </a>
                <ul>

                    <li>
                        <a href="/OrderList">
                            <span class="title">Sipariş</span>
                        </a>
                    </li>

                    <li>
                        <a href="/IncomeList">
                            <span class="title">Gelirler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ExpenseList">
                            <span class="title">Giderler</span>
                        </a>
                    </li>

                    <li>
                        <a href="/StockList">
                            <span class="title">Stok Listesi</span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="has-sub">
                <a href="layout-api.html">
                    <i class="entypo-mail"></i>
                    <span class="title">Mail Yönetimi</span>
                </a>
                <ul>
                    <li>
                        <a href="/MailGroupList">
                            <span class="title">Mail Grupları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MailTemplateList">
                            <span class="title">Mail Şablonları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SendMailList">
                            <span class="title">Mail Gönder</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="layout-api.html">
                    <i class="entypo-chart-bar"></i>
                    <span class="title">Raporlar</span>
                </a>

                <ul style="">
                    <li>
                        <a href="/ClassTrackingReport/2">
                            <span class="title">Sınıf Takip Raporu</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="has-sub">
                <a href="layout-api.html">
                    <i class="entypo-cog"></i>
                    <span class="title">Tanımlar</span>
                </a>
                <ul style="">


                    <li>
                        <a href="/TrainingSubjectList">
                            <span class="title">Antreman Konusu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrainingVideoList">
                            <span class="title">Antreman Videoları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/TrainingVideoCategoryList">
                            <span class="title">Antreman Video Kategorileri</span>
                        </a>
                    </li>-->
            <li>
            <a href="layout-api.html">
            <span class="title">Kullanıcı Rolleri</span>
            </a>
            </li>
            <li>
                        <a href="/TypeOfExpenseList">
                            <span class="title">Gider Türleri</span>
                        </a>
                    </li>

                    <li>
                        <a href="/UserTypePermissionList">
                            <span class="title">Kullanıcı İzinleri</span>
                        </a>
                    </li>

                    <li>
                        <a href="/EmailSettingsList">
                            <span class="title">Mail Ayarları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/EmailTemplateList">
                            <span class="title">Mail Temaları</span>
                        </a>
                    </li>

                    <li>
                        <a href="/ProgramSubjectList">
                            <span class="title">Program Konusu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProductList">
                            <span class="title">Ürün Listesi</span>
                        </a>
                    </li>

                    <li>
                        <a href="/UserGroupList">
                            <span class="title">Üye Grupları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/SubscriptionTypeList">
                            <span class="title">Üyelik Paketleri</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/UserInfo">
                    <i class="entypo-user"></i>
                    <span class="title">Bilgilerim</span>
                </a>
            </li>


            <li class="has-sub">
                <a href="layout-api.html">
                    <i class="entypo-star"></i>
                    <span class="title">Yönetim</span>
                </a>
                <ul style="">
                    <li>
                        <a href="/MemberList">
                            <span class="title">Üyelerimiz</span>
                        </a>
                    </li>
                    <li>
                        <a href="/NotificationList">
                            <span class="title">Bildirimler</span>
                        </a>
                    </li>
                    <li>
                        <a href="/AdminEmailTemplateList">
                            <span class="title">Email Temaları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/MemberEmailList">
                            <span class="title">Salon Email Temaları</span>
                        </a>
                    </li>
                    <li>
                        <a href="/InvoiceList">
                            <span class="title">Faturalar</span>
                        </a>
                    </li>
                </ul>
            </li>
        *@
   </ul>
    </div>
</div>  