@model KayaHukukAdmin.Models.Referanslar

<div class="modal-body">
	<form id="ReferansSilForm" method="post" action="/Definition/DeleteReferans">
		<div class="form-group">
			<label for="FirmaLogo">Firma Logo</label>
			<input type="text" class="form-control" id="FirmaLogo" name="FirmaLogo" value="@Model.FirmaLogo" readonly>
		</div>
		<div class="form-group">
			<label for="FirmaAdi">Firma Adı</label>
			<input class="form-control" id="FirmaAdi" name="FirmaAdi" value="@Model.FirmaAdi" readonly>
		</div>
		<input type="hidden" name="Id" value="@Model.Id" />
		<div class="modal-footer justify-content-between">
			<button type="button" class="btn btn-default" data-bs-dismiss="modal">Kapat</button>
			<button type="submit" class="btn btn-danger">Sil</button>
		</div>
	
	</form>
</div>
