@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<KullaniciTarafi.Models.Referanslar>

<div class="row gy-4 isotope-container">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="portfolio-item">
                <img src="data:image/png;base64,@item.FirmaLogo" alt="Firma Logo" class="portfolio-img" />
                <h1>@item.FirmaAdi</h1>
                <a href="portfolio-details.html" title="More Details" class="details-link">
                    <i class="bi bi-link-45deg"></i> 
                </a>
            </div>
        </div>
    }
</div><!-- End Portfolio Items -->
<style>
.col-lg-4, .col-md-6 {
    display: flex;
    justify-content: center; /* Öğeleri yatayda ortalar */
    margin-top: 150px;
}

.portfolio-item {
    position: relative;
    text-align: center; /* Yazıları ortalar */
}

.portfolio-img {
    height: 130px;
    width: 130px;
    border: 2px solid #ddd; /* Çerçeve rengi ve kalınlığı */
    border-radius: 8px; /* Köşeleri yuvarlar */
    padding: 10px; /* Çerçeve ile resim arasına boşluk ekler */
    background-color: #fff; /* Arka plan rengini beyaz yapar */
    transition: all 0.3s ease; /* Yumuşak geçiş efekti */
}

.portfolio-item:hover .portfolio-img {
    opacity: 0.3; /* Hover durumunda resmi şeffaf yapar */
}

.details-link {
    display: none; /* Başlangıçta bağlantı butonunu gizler */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); /* Merkezleme */
    background-color: gray; /* Buton arka plan rengi */
    color: #fff; /* Buton metin rengi */
    padding: 10px 20px; /* Buton iç paddingi */
    border-radius: 5px; /* Buton köşelerini yuvarlar */
    text-decoration: none; /* Alt çizgi kaldırır */
    font-size: 14px; /* Buton metin boyutu */
    font-weight: bold; /* Buton metni kalın yapar */
    transition: all 0.3s ease; /* Buton geçiş efekti */
}

.portfolio-item:hover .details-link {
    display: block; /* Hover durumunda bağlantı butonunu gösterir */
}
</style>