@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KullaniciTarafi.Models.Kullanicilar

<form id="form" action="~/User/UyeOl" method="post">
	<div class="uyeol">
		@if (ViewData["SuccessMessage"] != null)
		{
			<h4>@ViewData["SuccessMessage"]</h4>
		}
		@if (ViewData["ErrorMessage"] != null)
		{
			<h4>@ViewData["ErrorMessage"]</h4>
		}
		<h3>Üye Ol</h3>
		<input type="text" name="ad" placeholder="Ad" />
		<input type="text" name="soyad" placeholder="Soyad" />
		<input type="text" name="telefon" pattern="\d{11}" maxlength="11" placeholder="Telefon" />
		<input type="email" name="email" placeholder="Email" />
		<input type="password" name="sifre" placeholder="Şifre" />
		<button type="submit">Üye Ol</button>
	</div>
</form>

<style>
	#form {
		display: flex;
		justify-content: center; /* Yatayda ortalar */
		align-items: center; /* Dikeyde ortalar */
		height: 100vh; /* Ekranın tamamını kapsar */
	}

	body {
		background-image: url('/assets/img/hero-bg.jpg'); /* Resmi arkaplan yapar */
		background-size: cover; /* Resmin ekranı kaplamasını sağlar */
		background-position: center; /* Resmin ortalanmasını sağlar */
	}
	.uyeol {
		background-color:white;
		display: flex;
		flex-direction: column;
		justify-content: center; /* Yatayda ortalar */
		align-items: center; /* Dikeyde ortalar */ /* Elemanları dikey olarak hizalar */
		width: 600px; /* Formun genişliğini kısıtlar */
		height: 600px;
		margin-top: 100px;
		padding: 10px; /* İç boşluk ekler */
		border: 1px solid #ddd; /* Hafif bir sınır ekler */
		border-radius: 5px; /* Köşeleri yuvarlar */
	}

	.uyeol input[type="text"], 
	.uyeol input[type="number"], 
	.uyeol input[type="email"], 
	.uyeol input[type="password"], 
	.uyeol button{
		width: 100%; /* Elemanları container genişliğine yayar */
		padding: 8px; /* İç boşluk ekler */
		margin-bottom: 10px; /* Elemanlar arasına boşluk ekler */
		border: 1px solid #ccc; /* Hafif bir sınır ekler */
		border-radius: 4px; /* Köşeleri yuvarlar */
		font-size: 0.9rem; /* Küçük font boyutu */
	}
	.uyeol h4{
		margin-top:25px;
		color:orange;
	}
	.uyeol button{
		background-color: gray; /* Buton arka plan rengi */
		color: white; /* Buton yazı rengi */
		border: none; /* Buton kenarını kaldırır */
		cursor: pointer; /* Fareyi işaretçi yapar */
		}

	.uyeol button:hover {
		background-color: orange; /* Buton üzerine gelindiğinde arka plan rengi değişir */
	}

</style>