@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<KullaniciTarafi.Models.Referanslar>
<section id="hero" class="hero section dark-background">
   @* <h1>KAYA HUKUK BÜROSU</h1>
	<h3>“Hukuki Zorluklardan Hukuki Çözümlere”</h3> *@
</section>


<style>
    #hero {
		background-image: url('/assets/img/hero-bg.jpg');
		background-size: cover;
		background-position: center;
		background-blend-mode: overlay;
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
    }

        #hero h1 {
		color: white;
		z-index: 2; /* İçeriği daha öne çıkarır */
		font-weight: bold; /* Yazıyı kalınlaştırır */
		font-size:60px;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Gölge ekleyerek daha net görünmesini sağlar */
        }
		
		#hero h3{
			color:white;
			margin-top:40px;
			z-index: 2;
		}
</style>