/* _content/KayaHukukAdmin/Views/Shared/_Header.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bg0wde519g] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bg0wde519g] {
  color: #0077cc;
}

.btn-primary[b-bg0wde519g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bg0wde519g], .nav-pills .show > .nav-link[b-bg0wde519g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bg0wde519g] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bg0wde519g] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bg0wde519g] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bg0wde519g] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bg0wde519g] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/KayaHukukAdmin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-txn814d1ij] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-txn814d1ij] {
  color: #0077cc;
}

.btn-primary[b-txn814d1ij] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-txn814d1ij], .nav-pills .show > .nav-link[b-txn814d1ij] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-txn814d1ij] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-txn814d1ij] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-txn814d1ij] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-txn814d1ij] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-txn814d1ij] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/KayaHukukAdmin/Views/Shared/_LeftMenu.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-263wzh9zic] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-263wzh9zic] {
  color: #0077cc;
}

.btn-primary[b-263wzh9zic] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-263wzh9zic], .nav-pills .show > .nav-link[b-263wzh9zic] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-263wzh9zic] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-263wzh9zic] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-263wzh9zic] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-263wzh9zic] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-263wzh9zic] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
