/**
 *
 * Apply Here your Custom CSS
 *
*/



body {
	
}

.label-rounded {
    border-radius: 100px;
}

.label-flat {
    background-color: transparent;
    border-width: 2px;
    border-radius: 0;
    padding: 1px 4px 0 4px;
}

.label {
    display: inline-block;
    font-weight: bold;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 2px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.1px;
    border-radius: 10px;
}